# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
paho-mqtt >=1.4.0,<1.6.0
watchdog >=0.10.2